# Electoral Bonds Analysis

## Importing Necessary Libraries

In [1]:
import tabula
import numpy as np
import pandas as pd

### changing numerical format

In [2]:
pd.options.display.float_format = '{:,.0f}'.format

## Extracting Tables from PDF file

In [4]:
# Path to your PDF file
pdf_path = "C:/Users/ksrch/Downloads/Electoral B Data/EB_Purchase_Details.pdf"

In [6]:
# Read the PDF file and extract tables into a list of DataFrames
P_Details = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True)

In [7]:
pdf_path1 = "C:/Users/ksrch/Downloads/Electoral B Data/EB_Redemption_Details.pdf"

In [8]:
# Read the PDF file and extract tables into a list of DataFrames
R_Details = tabula.read_pdf(pdf_path1, pages='all', multiple_tables=True)

In [9]:
purchase = pd.concat(P_Details)

In [10]:
redemption = pd.concat(R_Details)

In [12]:
purchase.sample()

,Sr No.,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status
43,1612,00001201905070000001353,07/May/2019,07/May/2019,21/May/2019,KEVENTER FOODPARK INFRA LIMITED,OC,6379,"1,00,00,000",1,5899230,Paid

#### Cleaning the Headings of the table

In [13]:
purchase = purchase.rename(columns=lambda x: x.strip().replace("\r"," "))

In [14]:
purchase.sample()

,Sr No.,Reference No (URN),Journal Date,Date of Purchase,Date of Expiry,Name of the Purchaser,Prefix,Bond Number,Denominations,Issue Branch Code,Issue Teller,Status
2,7255,00509202201060000002150,06/Jan/2022,06/Jan/2022,20/Jan/2022,V M SALGAOCAR CORPORATION PVT LTD,TL,3429,"10,00,000",509,7315678,Paid

#### Treating the columns and changing the datatypes

In [15]:
redemption = redemption.rename(columns = lambda x: x.strip().replace("\r"," "))

In [16]:
redemption["Denominations"] = redemption["Denominations"].str.replace(",","").astype(int)

In [18]:
purchase["Denominations"] = purchase["Denominations"].str.replace(",","").astype(int)

In [21]:
purchase["Bond Number"] = purchase["Bond Number"].astype(str)

In [23]:
redemption["Bond Number"] = redemption["Bond Number"].astype(str)

In [22]:
purchase["UniqID"] = purchase["Prefix"] + purchase["Bond Number"]

In [25]:
redemption["UniqID"] = redemption["Prefix"] + redemption["Bond Number"]

### Merging the two extracted tables

In [26]:
df = pd.merge(purchase,redemption,on="UniqID",how="right")

In [135]:
df.head()

,Reference No_(URN),Journal Date,Date of Purchase,Date of Expiry,Date of Encashment,Prefix,Bond Number,Purchaser Name,Purchase Amount,Purchaser Type,Issue Branch Code,Issue_Branch_State,Issue_Branch_City,Status,Party Name,Amount,Encash Branch Code,Encash_Branch_State,Encash_Branch_City
0,00847201904120000001164,2019-04-12,2019-04-12,2019-04-26,2019-04-16,OC,5485,MEGHA ENGINEERING & INFRASTRUCTURES LIMITED,"10,000,000",Organisation,`00847,Telangana,Hyderabad,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
1,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6258,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
2,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6268,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
3,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6292,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
4,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6254,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi

In [28]:
df_2 = purchase[purchase["Status"]=="Expired"]

In [29]:
df_2[df_2["Name of the Purchaser"]=="FUTURE GAMING AND HOTEL SERVICES PR"]

,Sr No.,Reference No (URN),Journal Date,Date of Purchase,Date of Expiry,Name of the Purchaser,Prefix,Bond Number,Denominations,Issue Branch Code,Issue Teller,Status,UniqID
7,9759,00800202210060000002513,06/Oct/2022,06/Oct/2022,20/Oct/2022,FUTURE GAMING AND HOTEL SERVICES PR,OC,10605,10000000,800,7273126,Expired,OC10605
23,9775,00800202210060000002513,06/Oct/2022,06/Oct/2022,20/Oct/2022,FUTURE GAMING AND HOTEL SERVICES PR,OC,10441,10000000,800,7273126,Expired,OC10441
36,9837,00800202210060000002513,06/Oct/2022,06/Oct/2022,20/Oct/2022,FUTURE GAMING AND HOTEL SERVICES PR,OC,10616,10000000,800,7273126,Expired,OC10616

In [30]:
df = df.rename(columns={"Prefix_x":"Prefix","Sr No._x":"Sr No.","Bond Number_x":"Bond Number","Denominations_x":"Denominations"})

In [31]:
df_1 = pd.concat([df,df_2],ignore_index=True)

In [32]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20551 entries, 0 to 20550
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Sr No.                          18871 non-null  float64
 1   Reference No  (URN)             18871 non-null  object
 2   Journal Date                    18871 non-null  object
 3   Date of Purchase                18871 non-null  object
 4   Date of Expiry                  18871 non-null  object
 5   Name of the Purchaser           18871 non-null  object
 6   Prefix                          18871 non-null  object
 7   Bond Number                     18871 non-null  object
 8   Denominations                   18871 non-null  float64
 9   Issue Branch Code               18871 non-null  float64
 10  Issue Teller                    18871 non-null  float64
 11  Status                          18871 non-null  object
 12  UniqID                          20551 non-null  object
 13  Sr No._y                        20421 non-null  float64
 14  Date of Encashment              20421 non-null  object
 15  Name of the Political Party     20421 non-null  object
 16  Account no. of Political Party  20421 non-null  object
 17  Prefix_y                        20421 non-null  object
 18  Bond Number_y                   20421 non-null  object
 19  Denominations_y                 20421 non-null  float64
 20  Pay Branch Code                 20421 non-null  float64
 21  Pay Teller                      20421 non-null  float64
dtypes: float64(8), object(14)
memory usage: 3.4+ MB

#### Importing Purchaser Details file

In [136]:
# pdf_path3 = "C:/Users/ksrch/Downloads/Electoral B Data/PurchaserDetails.pdf"

In [35]:
# P_Details = tabula.read_pdf(pdf_path3, pages='all', multiple_tables=False)

In [37]:
# p_df = P_Details[0]

In [38]:
# p_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18871 entries, 0 to 18870
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date of Purchase  18871 non-null  object
 1   Purchaser Name    18871 non-null  object
 2   Denomination      18871 non-null  object
dtypes: object(3)
memory usage: 442.4+ KB

In [39]:
# p_df["Denomination"]=p_df["Denomination"].str.replace(",","").astype(int)

### Treating the Values of "Name of the Purchaser"

In [40]:
temp = df_1[df_1["Name of the Purchaser"].str.startswith("FUTURE") & pd.notna(df_1["Name of the Purchaser"])]

In [42]:
temp["Name of the Purchaser"].unique()

array(['FUTURE GAMING AND HOTEL SERVICES PR',
       'FUTURE GAMING AND HOTEL SERVICES PRIVATE LIMITED',
       'FUTURE GAMING AND HOTEL SERVICES PVT LTD'], dtype=object)

In [43]:
temp1 = df_1[df_1["Name of the Purchaser"].str.startswith("MEGHA") & pd.notna(df_1["Name of the Purchaser"])]

In [44]:
temp1["Name of the Purchaser"].unique()

array(['MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED',
       'MEGHA ENGINEERING AND INFRASTRUCTURES LTD',
       'MEGHA ENGINEERING & INFRASTRUCTURES LIMITED'], dtype=object)

In [45]:
temp2 = df_1[df_1["Name of the Purchaser"].str.startswith("VEDANTA") & pd.notna(df_1["Name of the Purchaser"])]

In [46]:
temp2["Name of the Purchaser"].unique()

array(['VEDANTA LIMITED', 'VEDANTA LTD',
       'VEDANTA ELECTRICALS PRIVATE LIMITED'], dtype=object)

In [47]:
df_1.loc[df_1["Name of the Purchaser"].isin(['FUTURE GAMING AND HOTEL SERVICES PR',
       'FUTURE GAMING AND HOTEL SERVICES PRIVATE LIMITED',
       'FUTURE GAMING AND HOTEL SERVICES PVT LTD']),"Name of the Purchaser"] = "FUTURE GAMING AND HOTEL SERVICES"

In [48]:
df_1.loc[df_1["Name of the Purchaser"].isin(['MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED',
       'MEGHA ENGINEERING AND INFRASTRUCTURES LTD',
       'MEGHA ENGINEERING & INFRASTRUCTURES LIMITED']),"Name of the Purchaser"] = "MEGHA ENGINEERING & INFRASTRUCTURES LIMITED"

In [49]:
df_1.loc[df_1["Name of the Purchaser"].isin(['VEDANTA LIMITED', 'VEDANTA LTD',
       'VEDANTA ELECTRICALS PRIVATE LIMITED']),"Name of the Purchaser"] = "VEDANTA LIMITED"

#### Saving the DataFrame

In [50]:
df = df_1.copy()

In [51]:
df_1 = df_1.drop(columns=["Sr No.","Sr No._y","Prefix_y","Bond Number_y","Account no. of Political Party"],axis=1)

#### Renaming column names

In [52]:
df_1.rename(columns={"Denominations":"Purchase Amount","Denominations_y":"Amount"},inplace=True)

In [53]:
df_1.rename(columns={"Reference No  (URN)":"Reference No_(URN)"},inplace=True)

In [54]:
df_1.drop(columns=["Issue Teller","Pay Teller"],inplace=True)

In [55]:
df_1.rename(columns={"Name of the Purchaser":"Purchaser Name"},inplace=True)

### Merging the Purchaser Type Table with our DataFrame

In [56]:
temp4 = pd.read_excel("C:/Users/ksrch/OneDrive/Documents/Purchaser Type.xlsx")

In [57]:
temp4.sample()

          Purchaser Name Purchaser Type
428  HEALTHTECH SOLUTION   Organisation

In [58]:
df_1 = pd.merge(df_1,temp4,on="Purchaser Name",how="left")

In [59]:
df_1.sample()

,Reference No_(URN),Journal Date,Date of Purchase,Date of Expiry,Purchaser Name,Prefix,Bond Number,Purchase Amount,Issue Branch Code,Status,UniqID,Date of Encashment,Name of the Political Party,Amount,Pay Branch Code,Purchaser Type
5842,00001202104090000001799,09/Apr/2021,09/Apr/2021,23/Apr/2021,RONAK AJMERA,OL,1367,"100,000",1,Paid,OL1367,12/Apr/2021,ALL INDIA TRINAMOOL CONGRESS,"100,000",1,Individual

#### Changing the Datatype

In [62]:
df_1["Issue Branch Code"] = df_1["Issue Branch Code"].astype(str)

In [63]:
df_1["Pay Branch Code"] = df_1["Pay Branch Code"].astype(str)

In [64]:
df_1["Pay Branch Code"].unique()

array(['800.0', '847.0', '691.0', '300.0', '1.0', '152.0', '125.0',
       '628.0', '167.0', '2295.0', '41.0', '509.0', '232.0', 'nan'],
      dtype=object)

#### Removing the decimal

In [65]:
df_1["Pay Branch Code"] = df_1["Pay Branch Code"].str.replace(r"\.0$","")

C:\Users\ksrch\AppData\Local\Temp\ipykernel_15684\3151697312.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_1["Pay Branch Code"] = df_1["Pay Branch Code"].str.replace(r"\.0$","")

In [66]:
df_1["Pay Branch Code"].unique()

array(['800', '847', '691', '300', '1', '152', '125', '628', '167',
       '2295', '41', '509', '232', 'nan'], dtype=object)

In [67]:
df_1["Pay Branch Code"] = "`" + df_1["Pay Branch Code"].apply(lambda x: x.zfill(5))

In [68]:
df_1["Issue Branch Code"] = df_1["Issue Branch Code"].str.replace(r"\.0$","")

C:\Users\ksrch\AppData\Local\Temp\ipykernel_15684\1888580295.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_1["Issue Branch Code"] = df_1["Issue Branch Code"].str.replace(r"\.0$","")

In [69]:
df_1["Issue Branch Code"].unique()

array(['nan', '847', '300', '813', '1355', '1', '691', '41', '509', '628',
       '461', '78', '941', '656', '800', '125', '152', '1308', '952',
       '167'], dtype=object)

In [70]:
df_1["Issue Branch Code"] = "`" + df_1["Issue Branch Code"].apply(lambda x: x.zfill(5))

In [71]:
df_1["Issue Branch Code"].unique()

array(['`00nan', '`00847', '`00300', '`00813', '`01355', '`00001',
       '`00691', '`00041', '`00509', '`00628', '`00461', '`00078',
       '`00941', '`00656', '`00800', '`00125', '`00152', '`01308',
       '`00952', '`00167'], dtype=object)

In [72]:
df_1["Pay Branch Code"].unique()

array(['`00800', '`00847', '`00691', '`00300', '`00001', '`00152',
       '`00125', '`00628', '`00167', '`02295', '`00041', '`00509',
       '`00232', '`00nan'], dtype=object)

In [73]:
df_1.loc[df_1["Issue Branch Code"]=="`00nan","Issue Branch Code"] = np.nan

In [74]:
df_1.loc[df_1["Pay Branch Code"]=="`00nan","Pay Branch Code"] = np.nan

#### Mapping the city and state to the bank code and creating new columns

In [75]:
state = {'`00847':"Telangana", '`00300':"Maharashtra", '`00813':"Karnataka", '`01355':"Gujarat", '`00001':"West Bengal",
                      '`00691':"Delhi",'`00041':"Odisha", '`00509':"Goa", '`00628':"Punjab", '`00461':"Chhattisgarh",
                      '`00078':"Assam", '`00941':"Kerala",'`00656':"Rajasthan", '`00800':"Tamil Nadu", '`00125':"Uttar Pradesh",
                      '`00152':"Bihar", '`01308':"Madhya Pradesh", '`00952':"Andhra Pradesh",
       '`00167':"Jharkhand","`02295":"Jammu and Kashmir","`00232":"Sikkim"}

In [76]:
city = {'`00847':"Hyderabad", '`00300':"Mumbai", '`00813':"Bengaluru", '`01355':"Gandhinagar", '`00001':"Kolkata",
                     '`00691':"New Delhi",'`00041':"Bhubaneswar", '`00509':"Panaji", '`00628':"Chandigarh", '`00461':"Raipur",
                     '`00078':"Guwahati", '`00941':"Thiruvananthapuram",'`00656':"Jaipur", '`00800':"Chennai", '`00125':"Lucknow",
                     '`00152':"Patna", '`01308':"Bhopal",'`00952':"Vishakhapatnam",
       '`00167':"Ranchi","`02295":"Srinagar", "`00232":"Gangtok"}

In [77]:
df_1["Issue_Branch_State"] = df_1["Issue Branch Code"].map(state)

In [78]:
df_1["Issue_Branch_City"] = df_1["Issue Branch Code"].map(city)

In [79]:
df_1["Pay_Branch_State"] = df_1["Pay Branch Code"].map(state)

In [80]:
df_1["Pay_Branch_City"] = df_1["Pay Branch Code"].map(city)

#### Converting Party name to Shorter Form

In [81]:
df_1["Name of the Political Party"].unique()

array(['ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM',
       'BHARAT RASHTRA SAMITHI', 'BHARATIYA JANATA PARTY',
       'PRESIDENT, ALL INDIA CONGRESS COMMITTEE', 'SHIVSENA',
       'TELUGU DESAM PARTY',
       'YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CONGRESS PARTY)',
       'DRAVIDA MUNNETRA KAZHAGAM (DMK)', 'JANATA DAL ( SECULAR )',
       'NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH',
       'ALL INDIA TRINAMOOL CONGRESS', 'BIHAR PRADESH JANTA DAL(UNITED)',
       'RASHTRIYA JANTA DAL', 'AAM AADMI PARTY',
       'ADYAKSHA SAMAJVADI PARTY', 'SHIROMANI AKALI DAL',
       'JHARKHAND MUKTI MORCHA', 'JAMMU AND KASHMIR NATIONAL CONFERENCE',
       'BIJU JANATA DAL', 'GOA FORWARD PARTY',
       'MAHARASHTRAWADI GOMNTAK PARTY', 'SIKKIM KRANTIKARI MORCHA',
       'JANASENA PARTY', 'SIKKIM DEMOCRATIC FRONT', nan], dtype=object)

In [82]:
name = {"ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM":"AIADMK",
       "BHARAT RASHTRA SAMITHI":"BRS","BHARATIYA JANATA PARTY":"BJP",
       "PRESIDENT, ALL INDIA CONGRESS COMMITTEE":"INC","SHIVSENA":"SHIVSENA",
       "TELUGU DESAM PARTY":"TDP","YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CONGRESS PARTY)":"YSRCP",
       "DRAVIDA MUNNETRA KAZHAGAM (DMK)":"DMK","JANATA DAL ( SECULAR )":"JD(S)",
       "NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH":"NCP","ALL INDIA TRINAMOOL CONGRESS":"AITC",
       "BIHAR PRADESH JANTA DAL(UNITED)":"JD(U)","RASHTRIYA JANTA DAL":"RJD",
       "AAM AADMI PARTY":"AAP","ADYAKSHA SAMAJVADI PARTY":"SP","SHIROMANI AKALI DAL":"SAD",
       "JHARKHAND MUKTI MORCHA":"JMM","JAMMU AND KASHMIR NATIONAL CONFERENCE":"JKNC",
       "BIJU JANATA DAL":"BJD","GOA FORWARD PARTY":"GFP","MAHARASHTRAWADI GOMNTAK PARTY":"MGP",
       "SIKKIM KRANTIKARI MORCHA":"SKM","JANASENA PARTY":"JSP","SIKKIM DEMOCRATIC FRONT":"SDF"}

In [83]:
df_1["Party Name"] = df_1["Name of the Political Party"].map(name)

In [84]:
df_1.sample()

,Reference No_(URN),Journal Date,Date of Purchase,Date of Expiry,Purchaser Name,Prefix,Bond Number,Purchase Amount,Issue Branch Code,Status,...,Date of Encashment,Name of the Political Party,Amount,Pay Branch Code,Purchaser Type,Issue_Branch_State,Issue_Branch_City,Pay_Branch_State,Pay_Branch_City,Party Name
16129,00691202307120000003198,12/Jul/2023,12/Jul/2023,26/Jul/2023,VIKAS AGGARWAL,OC,13956,"10,000,000",`00691,Paid,...,15/Jul/2023,BIJU JANATA DAL,"10,000,000",`00041,Individual,Delhi,New Delhi,Odisha,Bhubaneswar,BJD

#### Treating the improper values of Purchaser Name

In [91]:
for i in df_1["Purchaser Name"].unique():
    print(i)

nan
MEGHA ENGINEERING & INFRASTRUCTURES LIMITED
PHL FINIVEST PVT LTD
PIRAMAL CAPITAL AND HOUSING FINANCE LTD
PIRAMAL ENTERPRISES LTD
PRL DEVELOPERS PRIVATE LIMITED
MSPL LTD
PATEL HIGHWAY MANAGEMENT PVT LTD
SRI KRISHNA INFRAASTRUCTURES
KEVENTER FOODPARK INFRA LIMITED
VEDANTA LIMITED
ST PATRICKS REALTY PVT LTD
SWETA ESTATES PVT LTD
OCEAN SPARKLE LTD
ACE COMERCIAL COMPANY PRIVATE LIMITED
OMKAR REALTORS PROJECTS PVT LTD
JUBILANT LIFE SCIENCES LIMITED
PONUGOTI HEMENDAR RAO
SWAPNA CHENNAVARAM
RAVINDER AGARWAL
SANGIREDDY THIRUPATHI REDDY
MANDADI RAMULU
PEDDIREDDY RAMANJANEYA REDDY
KOTESWAR RAO GULLAPALLY
VINAY AGARWAL
PAPPI REDDY KISHORE KUMAR REDDY
POLINA GANESWARARAO
SK INFRA
SREE KRUTHI
P SHIVA SHANKAR REDDY
KEYSTONE REALTORS PVT LTD
GRASIM INDUSTRIES LTD
RENUKA INVESTMENTS AND FINANCE LTD
RENUKESHWAR INVESTMENTS PVT LTD
OMKAR VENTURES PVT LTD
SUN PHARMA LABORATORIES LIMTED
THE SUPREME INDUSTRIES LTD
LAKSHMI NIWAS MITTAL
ESSEL MINING AND INDS LTD
SUN PHARMA LABORATORIES LTD
ALOK NARAYAN PANDEY
SAURABH GUPTA
BHARTI AIRTEL LIMITEDAIRTEL CURRE NT AC-GCO
SHAHIEXP
CHOUDHARY GARMENTS
ARIHANT ENTERPRISES
MS PEARL GLOBAL INDUSTRIES LTD FORM
MOHINDER KUMAR JAIN
SHAHAB RIZVI
PRIME SALES CORPORATION
SANJAY JAIN
SHAURYAVIR CARRIERS PRIVATE LIMITED
SDS LOGISTICS PRIVATE LIMITED
CAVALIER TRANSPORTERS PRIVATE LIMITED
RAJEEV KUMAR JAIN
DEVEN CHAND JAIN
RICHA GLOBAL EXPORTS PRIVATE LIMITED
ORIENT FASHION EXP (I) PVT LTD
LALIT GULATI
SAMMAN LAL SHER SINGH PAPERS PVT LT
SARD INDIA PRIVATE L
MR. VIJAY KUMAR GOYAL
M/SGAURAV INTERNATIONAL
HUB POWER COMPANY
MR RAJ DEEPAK VARSHNEY
WELSPUN ENTERPRISES LTD
IDEAL REAL ESTATES PRIVATE LIMITED
BHARTI INFRATEL LIMITED
ANJANI ROADLINES
VM SALGAOCAR CORPORATION PVT LTD
FASTWAY TRANSMISSIONS PVT LTD
SANDEEP KHANNA AND ASSOCIATES
VIKAS KUMAR GARG
MERLIN RECREATION PVT LTD
ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED
INNOCENT MERCHANDISE PVT LTD
INOX AIR PRODUCTS LTD
INOX LEISURE LTD
CHHATTISGARH DISTILLERIES LIMITED
GUJARAT FLUORO CHEMICALS LIMITED
SNS CLOTHING PVT LTD
RAIPUR BOTLING COMPANY
LOTUS TEXPARK LIMITED FORMERLY LOTUS INT EGRATED TEXPARK LTD
TEXPORT CREATION
BELLWEY INTERNATIONAL CO
STAR CEMENT MEGHALAYA LIMITED
OM METALS DEVELOPERS (P) LTD.
VARDHMAN TEXTILES LTD
GOURAV KUMAR
SULA VINEYARDS PVT LTD
PEGASUS PROPERTIES PVT LTD
S R C CHEMICALS PVT LTD
B2C CONSULTING LLP
AISHWARYA BUSINESS CORPORATION PVT, LTD
FINOLEX CABLES LTD
BAJAJ AUTO LTD
BAJAJ HOLDINGS & INVESTMENT LIMITED
BAJAJ FINANCE LTD
GANNON DUNKERLEY AND CO LIMITED
SHANKARANARAYANA CONSTRUCTIONS PVT
NAVAYUGA ENGINEERING COMPANY LIMITED
ADIT BUILD WELL PVT LTD
SPPL PROPERTY MANAGEMENT PVT LTD
MEHERFOUNDATIONSANDCIVILENGPVT
KAMLANG SAW & VENEER MILLS PVT LTD
SKYWORLD DEVELOPERS LLP
MYRIAD DEVELOPERS
SHIVAM TRANSCON PRIVATE LIMITED
UM CABLES LIMITED
JAI SUSPENSION SYSTEMS LLP
MR SAURABH BAKLIWAL
MEENU CREATION LLP
SHIVALIK PRINTS LIMITED
PREMCHAND GODHA
MODERN ROAD MAKERS PVT LTD
KAYPEE ENTERPRISES
K RAHEJA CORP PVT LTD
UTKAL ALUMINA INTERNATIONAL LIMITED
QUALITY MAINTENANCE VENTURE LTD
SARITA HANDA EXPORTS PVT LTD
RICHA & CO
M/SKJS AHLUWALIA
A B C INDIA LIMITED
HIGHSTREET CRUISES AND ENTERTAINMENT PVT LTD
MUTHOOT FINANCE LTD
VASSUDEVA DEMPO FAMILY PRIVATE TRUST
DEMPO INDUSTRIES PVT LTD
MOTOWN TRADING PVT LTD
DERIVE TRADING AND RESORTS PRIVATE LIMITED
APOLLO TYRES LIMITED
DERIVE TRADING AND RESORTS PRIVATE LIMIT
S D CORPORATION PVT LTD
UNNIKRISHNAN K
CH UDAYA SANKAR
R SURYA NARAYNARAJU
CV SRINIVASA
T SIRISH BABU
GRAUER AMP WEIL INDIA LIMITED
RADICO KHAITAN LIMITED
VAMONA DEVELOPERS PRIVATE LIMITED
DR.REDDY'S LABORATORIES LTD
PVR LTD
AMBUJA HOUSING AND URBAN INFRASTRUCTURE CO. LTD.
INDUSTRIAL TECHNO MAN POWER SUPPLY AND SERVICES PVT LTD
JAI BHARAT TECHNICAL SERVICES PVT LTD
REAL TECHNICAL SOLUTIONS PVT LTD
TALENTO TECHNICAL PLANT SERVICES PVT LTD
ISHAN TECHNICAL PLANT SERVICES PVT LTD
AIS DISTRIBUTION
HALDIA ENERGY LIMITED
GUWAHATI CARBON LIMITED
JINDAL POLY FILMS LIMITED
INDIA GLYCOLS LTD
COMFORT TRIMS PRIVATE LIMITED
TORRENT PHARMACEUTICALS LIMITED
TORRENT POWER LIMITED
MADANLAL LTD.
INFOTELACCESSENTERPRISESPL00108
INFOTELTECHNOLOGIESPRIVATELIMITE
NEXG DEVICES PVT LTD
LUMAX INDUSTRIES LIMITED
INFOTELBUSINESSSOLUTIONSLTDBR
FORCE MOTORS LTD
JAI SUSPENSION SYSTEMS L L P
MADHYA PRADESH WASTE MANAGEMENT PR
REGENT ELECTRO MECH PRIVATE LIMITED
GHCL LTD
IVL DHUNSERI PETROCHEM INDUSTRIES PRIVAT E LIMITED
SHREE CEMENT LIMITED
WELSPUN CORP LTD
EDELWEISS HOUSING FINANCE LTD.
SITARA DIAMOND PRIVATE LIMITED
PHILIPS CARBON BLACK LTD
ITC LIMITED
OM CREDIT PVT LTD
HITECH SYSTEMS & SERVICES LTD
AMBUJA REALTY EVENTS MANAGMENT LTD
ZENSAR TECHNOLOGIES LTD
CEAT LTD
SWAL CORPORATION LIMITED
DERIVE INVESTMENTS
BRIGHT STAR INVESTMENTS PVT.LTD
SHANKARRESOURCESPVTLTD
KEC INTERNATIONAL LIMITED
ENAM HOLDINGS PRIVATE LIMITED
SELENE CONSTRUCTIONS LIMITED
LUCINA LAND DEVELOPMENT LIMITED
ATHENA INFRASTRUCTURE LIMITED
SYLVANUS PROPERTIES LIMITED
INTERGLOBE REAL ESTATE VENTURES PVT LTD
INTERGLOBE AIR TRANSPORT LIMITED
SMR AUTOMOTIVE SYSTEMS INDIA LTD
JBM INDUSTRIES LIMITED
S.P. SINGLA CONSTRUCTIONS PRIVATE LTD.
JMC PROJECTS INDIA LTD
ROSHINI DEVELOPERS PRIVATE LTD
MYTRAH ENERGY(INDIA) PRIVATE LIMITED
S.S.EARTHMOVERS AND LOGISTICS
HIND TERMINALS PVT LTD
THAKUR PRASAD SAO & SONS PVT LT
M/S VISION SECURITY SERVICES, PROP-MAJOR DEVENDRA NATH DAS
INDRANI PATNAIK
K K RESOURCES PRIVATE LIMITED
SAROSH ALIZAH MINING
FAMY ENERGY PRIVATE LIMITED
NARBHERAM VISHRAM
BISHAN M AGARWAL
SEEMA MIRANIA AGARWAL
SARITA MIRANIA AGARWAL
KISHAN M AGARWAL
ESTEE TRANSWAYS PRIVATE LIMITE
BG SHIRKE CONSTRUCTION TECHNOLOGY PVT LTD
FAMY STERI PVT LIMITED
MAKARAND PLANTATIONS PVT LIMITED
ASHUTOSH JYOTIPRASAD TAPARIA
URMILA DEVI TAPARIA
BAGDOGRA REALTORS PVT LTD
M R F LIMITED
ALLANASONS PRIVATE L
FRIGORIFICO ALLANA P
ALLANA COLD STORAGE
CHITRAKUT HOLDINGS LTD
AVEES TRADING & FINANCE PVT LTD
SKP MERCHANTS LLP
SUNSHINE FINTRADE PVT LTD
G M HOLDINGS PVT LTD
ALMIGHTY FINANCE AND INVESTMENT P
FAIRPLAN VINTRADE PRIVATE LIMITED
CHAKRADHARI TRADELINK PRIVATE LIMIT
MAHAVIRA VINCOM PRIVATE LIMITED
DAFFODIL GOODS PRIVATE LIMITED
LILAC MERCHANDISE PRIVATE LIMITED
NIRMALDEEP RESOURCES LTD
CONFIDENT FINANCIAL CONSULTANCY PRI
PERFECT INVESTMENT CONSULTANCY PRIV
SIDHANT INVESTMENT ADVISORY PRIVATE
TAQUITO LEASE OPERATORS PVT. LTD
CIPLA LTD
ULTRA TECH CEMENT LIMITED
CENTURY TEXTILES AND INDUSTRIES LTD
MAGARPATTA TOWNSHIP DEV AND CONST C
NANDED CITY DEVELOPMENT AND CONSTRU
CYZACHEM PVT LTD
CHANDA INVESTMENT TRADING CO. PVT
SEZ BIOTECH SERVICES PVT LTD
CIPLA LIMITED
MKJ ENTERPRISES LTD
PRESTIGE HABITAT VENTURES
PRESTIGE NOTTING HILL INVESTMENTS
PRESTIGE SOUTHCITY HOLDINGS
DLF LUXURY HOMES LIMITED
DLF COMMERCIAL DEVELOPERS LIMITED
NCC LIMITED
PURI CONSTRUCTION PVT LTD
MAHALAXMI VIDYUT PVT.LTD.
GENEXT HARDWARE PARKS PVT. LTD
KANHA VINCOM PRIVATE LIMITED
ROOPREKHA VYAPAAR PRIVATE LIMITED
PUSHKARA COMMOSALES PRIVATE LIMITED
MANKIND TRACOM PRIVATE LIMITED
NATRAJ GOODS PRIVATE LIMITED
JNS INSTRUMENTS LTD
RAJESH SHARMA
MINDARIKA PRIVATE LTD
MINDA KYORAKU LTD
JAY USHIN LTD
RAJESH JAIN
PRAHLAD SHARMA
RAMESH TAPARIA
RAMAWATAR SHARMA
ROHIT AGARWAL
MANISH AGARWAL
ANIL CHANDAK
SUKHBIR SINGH
BAPPADITYA ROY
NAVARUN SEN
RAHUL TULSIAN
SUNDEEP JHUNJHUNWALA
VIKASH JHUNJHUNWALA
ABHISHEK RATHI
SOHAN SARAF
YOGESH GARODIA
VIKRAM KUMAR KHAITAN
VAIBHAV BHUTANI
HIMANSHU RAJNIKANT SHAH
VINAY KUMAR GANERIWAL
ANUBHAV CHANDAK
ANSHUL GADIA
RAVI KUMAR SHARMA
SHIRISH BAJAJ
SUBHASH CHANDRA GUPTA
JAYANTA KUMAR DAS
RAJIV KUMAR JHA
PANKAJ PERIWAL
RAJESH KUMAR AGARWAL
HARI PRASAD AGARWAL
SUMITRA DEVI AGARWAL
BHAWNA AGARWAL
AMRITA AGARWAL
NEERAJ GANDHI
PRAMOD BAJORIA
JOSYULA VENKATESH
JASWANT KUMAR SETHIA
BHAWNA KASAT
NATCO PHARMA LTD
UPL LIMITED
INFINA FINANCE PRIVATE LIMITED
ORIENTAL SOUTH DELHI HOTELS PVT LTD
RAJIV S SOMANI
MS S N MOHANTY
RAJU KUMAR SHARMA
APCO INFRATECH PVT LTD FORMERLY AP
LEPTON SOFTWARE EXPORT AND RESEARCH PRIVATE LTD
KRBL LTD
KEJRIWAL MIINIING PRIVATE LIMITED
CRESCENT POWER LTD
RONAK AJMERA
POORVI DUGAR AJMERA
TILAK AJMERA
MUKESH AJMERA
KIRTAN AJMERA
BHARAT AJMERA
JINDAL SAW LIMITED
RATNAMANI METALS AND TUBES LTD
PENGUIN TRADING & AGENCIES LIMITED
SHREE CEMENT LTD
CASTAMET WORKS PRIVATE LIMITED
TANUSHREE LOGISTICS PRIVATE LIMITED
BANGUR SHREE
JANAM ENTERPRISES
FRIGERIO CONSERVA AL
HARINAGAR SUGAR MILLS LTD
ULTRATECHCEMENTSLTD
UTKAL ALUMINA INTERNATIONAL LTD
FUTURE GAMING AND HOTEL SERVICES
ARDENT STEEL LIMITED
GENUS POWER INFRASTRUCTURES LTD
UTKARSH SFATIK LIMITED
G R INFRAPROJECTS L
TECH MAHINDRA LTD
SPICEJET LIMITED
S E BUILDERS AND REALTORS LTD
CASTAMET WORKS
GEOJIT INVESTMENT SERVICES LTD
HIMALAYAN ENDEAVOUR PVT LTD
SENGUPTA AND SENGUPTA PRIVATE LIMIT
PRAKASH DISTILLERY & CHEMICAL CO (P) LT D
SAROJIT KUMAR DEY
RAMESH AGARWAL C S BOTTLING PLANT
LAXMI INDUSTRIAL BOTTLING PLAN
VARAS INTERNATIONAL PRIVATE LIMITED
TRANSWAYS EXIM PRIVATE LTD
MONALISA BOTTLING INDUSTRIES PVT LTD
L S DAVAR AND CO
KAL RADIO LIMITED
SOUTH ASIA FM LIMITED
SUN DISTRIBUTION SERVICES PVT LTD
THE INDIA CEMENTS LTD
AUROBINDO PHARMA LIMITED
PHILLIPS CARBON BLACK LIMITED
BHARTI AIRTEL LIMITED
BHARTI TELEMEDIA LIMITED
HH IRON AND STEEL PRIVATE LIMITED
MKK METAL SECTIONS P LTD
BALU CEMENT CORPORATION
BALU IRON AND STEEL COMPANY
RAHUL BHATIA
MISRILALL MINES PVT LTD
JMS MINING PRIVATE LIMITED
GOLDSTONE CEMENTS LTD
SILVER LINE INVESTMENT COMPANY
NANGALIA ASSOCIATES
CRYSTAL TEA INDIA PVT LTD
UTSAV ENCLAVE LLP
ISHANI BHAVIK AJMERA
PARESH AJMERA
SILVERTOSS SECURITIES PVT LTD
AJAY GUPTA
PURSHOTTAM LAL GUPTA
CHANDRAJYOTI ESTATE DEVELOPERS PVT.
GOODLUCK INDIA LTD
MOHAN STEEL CORPORATION
JINDAL HOUSE
K AMISH KUMAR TRADING PVT LTD
HONEYWELL PROPERTIES PVT LTD
CHANDER COMMERCIALS PVT LTD
RAY CONSTRUCTIONS LTD
D S ENGINEERING WORKSHOP LLP
SHYAM STEEL MANUFACTURING LTD. (FLY SOVA ISPAT LTD.)
RUNGTA SONS P LTD
THRIVENI EARTH MOVERS PVT LTD
JK LAKSHMI CEMENT LIMITED
RAMAN SHARMA
DESCENT BUILDWELL LLP
AUSTIN PLYWOOD PRIVATE LIMITED FORMERLY B S PROGRESSIVE PVT
SURENDRA STEELS PRIVATE LIMITED
ABHIJIT INTERNATIONAL
NORTH EAST INFRA NET WORK
SHRI JAGANNATH STEELS & POWER LTD
D R POLYMERS PVT LTD
D R INTERNATIONAL PRIVATE LIMITED
ABHINANDANSTOCKBROKINGPVTLTD
GENUS POWER
FRESHBYTE BUILDTECH PVT LTD
K M A COMMODITIES LLP
K M DEALERS LLP
BM DEALERS LLP
K B DEALERS PRIVATE LIMITED
AGARWAL M BISHAN
LEVOC FINANCE PVT LTD
KM DEALERS LLP
KB DEALERS LLP
KISHAN MIRANIA AGARWAL
DR. MANDEEP SHARMA
BESSEGGEN INFOTECH LLP
RAVLON PROPERTIES PVT LTD.
HARDESH ORES PVT LTD
INDIAN VALVE CALCUTTA PVT LTD
PURULIA BOTTLING PVT LTD
DHARIWAL INFRASTRUCTURE LIMITED
RITESH PROJECTS PVT LTD
RAJESH M AGRAWAL
SANJAY KUMAR
ABHAY SHUKLA
SREENATH FINVEST PRIVATE LIMITED
NAMIT PURI
BHUDUTT JANGID
VIKRAM SINGH
RIPLEY & CO STEVDORING & HANDLING PVT LT D
TIVOLI PARK APARTMENTS PVT LTD
SHIV SHANKAR SECURITIES PVT LTD
MIRANIA BUILDERS LLP
SUDSAR BUILDSPACE LLP
B M A MERCHANDISE LLP
GLOWING FERN HIGHRISE LLP
COALSALE COMPANY LTD
KISHAN M AGARWAL HUF
DEEPAK KUMAR AGARWAL
SUMAN AGARWAL
M/S. K.D. LIQUOR FERTILIZER PRIVATE L
SHREE SALASAR PROPERTIES & FINANCE PVT LTD
RITESH VANIJYA PRIVATE LIMITED
M/S. RAMESH AGARWAL C S BOTTLING PL
SPEED BUSINESS PVT LTD
RITESH NIRMAN PVT LTD
SWARNAPUSHPA VANIJYA PRIVATE LIMITE
OM VINCOM PVT LTD
MYTRAH ENERGY INDIA PRIVATE LIMITED
J.K.CEMENT LTD.
SSALASAR FINANCIAL ADVISORY SERVICE PVT LTD
VPL OIL MARKETING PVT LTD
PLUTO FINANCE PRIVATE LTD
RITESH REAL ESTATES PVT LTD
PRARAMBH SECURITIES PVT LTDOWN A/C
HIMADRI KHAN COUNTRY SPIRIT BOTTLING PLA NT CUM WARE HOUSE
SPML OM METALS JV
YASHODA SUPER SPECIALITY HOSPITAL
RAJEEV KUMAR SHARMA
RAKESH KUMAR SHARMA
ANAND PIMPARKAR
SALASAR STOCK BROKING LTD-PROPRIETARY
CHAITANYA ESTATES PRIVATE LIMITED
ARCHANA PROPERTIES P LTD
RAGHUKOOL ESTATE DEVELOPMENT LLP
PALM SHELTER ESTATE DEVELOPMENT LL
CASA MARIA PROPERTIES LLP
CAPE TRADING LLP
ANBEE CONSTRUCTIONS LLP
CAPSTAN TRADING LLP
AVEES TRADING FINANCE PVT LTD
LAURELSECURITIESPVTLTD
CHARISMA COMBINES PVTLTD
RANISATI MERCANTILES PVT LTD
SALASAR SAREES PVT LTD
RITESH ENCLAVE PVT LTD
TRANSWAYS EXIM PRIVATE LIMITED
OM ENCLAVE PVT LTD
VENUS FINANCIAL CONSULTANTS PVT LTD
SANDHYA CONSTRUCTIONS & ESTATES PRIVATE LIMITED
R.S.BROTHERS RETAIL INDIA PRIVATE LIMITE D
BIGC MOBILES PVT LTD
TAVINDER SINGH KOHLI
PROCURE ADVISORY SERVICES PRIVATE LTD
ROSHNI DEALMARK PRIVATE LTD
PRB SECURITIES PVT LTD
DEEPAK KUMAR GADDHYAN
NLB SERVICES PRIVATE LIMITED
HITESH D SHAH
DHARMENDRA JAYANTILAL VORA
NITIN BANSAL
MONIKA
ACHINT MAHESHWARI
RAHUL GUPTA
ANUJ KUMAR JAIN
PRADIP KUMAR DAS
SUSHIL KUMAR KOTHARI
RASHMI CEMENT LTD
ORISSA METALIKS PVT LIMITED
RASHMI METALIKS LTD
LIFELINE MARKETING PRIVATE LIMITED
RAJENDRA AGARWAL
RUPA H SHAH
NARAYAN PODDAR
ANIL KUMAR KEDIA
ASHOK DALMIA
ATUL KUMAR SINGH
VIKASH GUPTA
VIVEK AGARWAL
PAYEL AGARWAL
BIMALA PRASANNA SINGH ROY
MANISH KUMAR KHAKHOLIA
BINOD KUMAR AGARWAL
RAHUL BHUWANIA
SURBHI AGARWAL
ANIL KUMAR MALAWAT
NITESH KUMAR GUPTA
SANDEEP JHUNJHUNWALA
SANJAY JHUNJHUNWALA
UTTAM KUMAR GHOSH
AMIT AGARWAL
NARESH HIRALAL BHANSALI
ARUN KUMAR JOSHI
MANOJ KUMAR AGARWAL
ANKIT AGARWAL
RAHUL AGARWAL
ANAND AGARWAL
IFB AGRO INDUSTRIES LIMITED
GOURAB ROY
M S VARAS INTERNATIONAL PVT LTD
GALAXY C.S. BOTTLING PLANT
SAGUN TULSYAN
ARUN KUMAR GANERIWALA
YOGESH MANPURIA
SANJAY KUMAR SINHA
ASISH RAHA
VIKASH NAHATA
DEEPAK GURUM
VINEET GUPTA
RIGHT AID CONSULTANTS PVT LTD
CROCHET TRADE AND INVESTMENT PVT L
SILVERTONE SECURITIES PVT LTD
NATURAL RESIDENCY LLP
SUMAN ESTATES PRIVATE LIMITED
MIRANIA COMPLEX LLP
TULIP RESIDENCY LLP
BENGAL COKE COMPANY LIMITED
BMW INFRASTRUCTURE LLP
BANSAL BUSINESS PRIVATE LIMITED
VAIBHAW TIE UP PRIVATE LIMITED
JIT INDUSTRIAL PARK LLP
BANSHIDHAR VYAPAAR PVT LTD
CLIX SECURITIES PRIVATE LIMITED
DEEP IRON AND STEEL PVT LTD
RAMOLI DEALERS PVT LTD
BMW INFOTECH PRIVATE LIMITED
QWIKSUPPLYCHAINPRIVATELIMITED
TORRENT POWER LTD
M S JUGENDRA SINGH AND COMPANY
PRARAMBH SECURITIES PVT LTDPROPRIET
KVR BASELINE RESOURCES PRIVATE LIMI
MADHYA PRADESH WASTE MANAGEMENT PRI
CHENNAI GREEN WOODS PRIVATE LIMITED
GANDHI SECURITIES INVESTMENT
PRATIKSHA DOSHI
ORRISA METALIKS PVT LTD
KAMNA CREDITS AND PROMOTORS PVT LTD
PENGUIN TRADING AND AGENCIES LTD
NIRMAL KUMAR BATHWAL
BIRLAESTATESPRIVATELIMITED
DIWAKAR NIGAM
MODERN ROAD MAKERS PVT. LTD.
AUROBINDO PHARMA LTD
TORRENT PHARMACEUTICALS LTD
SATISHCHANDRA SHANTILAL DOSHI HUF
GOA CARBON LTD
V M SALGAOCAR CORPORATION PVT LTD
RAJESH MANNALAL AGRAWAL
SCAFFOLD PROPERTIES PVT LTD
PALM SHELTER ESTATE DEVELOPMENT LLP
BKC PROPERTIES PVT LTD
YOGA BUILDERS PVT LTD
BLUEBERRY TRADING COMPANY PRIVATE L
CAMELIA GRIHA NIRMAN PRIVATE LIMITED
LOUISIANA INVESTMENT FINANCE PVT
AVIGHNA MEDITECH SOLUTIONS PVT LTD
AVIGHNA SOLUTIONS
DR HEALTHTECH
HEALTHTECH SOLUTION
DEEPAK KHEMKA
RISHABH KHEMKA / ISHWAR CHAND KHEMK
APOLLO VINTRADE PVT LTD
TARGET VINCOM PVT LTD
MEGA EQUITAS PRIVATE LIMITED
ANANT UDYOG LLP
SHADOWFAX TRADERS
R B DEALERS PVT LTD
SRINIVASH BINANI
SHREE RATAN BAHETY
GAURAV BAHETY
ANKIT BAHETY
ABHISHEK TIBREWAL
PREM RATAN BAHETY
AAKANKSHA BAHETY
BIJAY RATAN BAHETY
PRAVEEN BAHETY
NEHA BAHETY
BRIJESH BINANI
PREETI BINANI
JYOTI LADHA
SHYAM SUNDAR BAHETY
MUKUND BINANI
ALOK KUMAR SOMANI
NIDHI SOMANI
TANUSHREE SOMANI
AMIT SOMANI
MANJU SHREE SOMANI
PARIKSHIT SOMANI
KAMNA COMMERCIAL PRIVATE LIMITED
SUKRITI GUPTA BAHETY
HEENA STEEL LLP
RAHUL JAGANNATH JOSHI
HARMESH RAHUL JOSHI
DALMIA BHARAT SUGAR AND INDUSTRIES LTD
LALITPUR POWER GENERATION COMPANY LIMITED
VACMETINDIALIMITED
HINDUSTAN TEXTILES
MKK METAL SECTIONS PVT LTD
REENA GARG
ADITYA KUMAR GARG
AJAY METALLOYS PVT LTD
BALU IRON & STEEL COMPANY
NAVAL KISHORE AGARWAL
KRISHNA SHEET PROCESSORS PVT LTD
VARAS INTERNATIONAL PVT LTD
V M SALGAOCAR BROTHER PVT LTD
CHOWGLE AND COMPANY PVT LTD
BALRAMPUR CHINI MILLS LTD
APCO INFRATECH PRIVATE LIMITED
INFRASTRUCTURE LOGISTICS PVT LTD
KAMAL TRADING CORPORATION
SHRINIVAS VASUDEVA DEMPO
DEVASHRI NIRMAN LLP
DEMPO IND PVT LTD NAVHIND PAPERSAND PUB
LULU INDIA SHOPPING MALL PRIVATE LI
NETINCON MARKETING PVT LTD
RAJAPUSHPA PROPERTIES PVT LTD
LAKSHMI MEDICALS
GORUKANTI DEVENDER RAO
GORUKANTI SURENDER RAO
RAVENDER RAO GORUKANTI
DHEERAJ MEDICALS
MSN PHARMACHEM PVT LTD
BRICKS INFRATECH LLP
HES INFRA PVT LTD
TRIREME INFRASTRUCTURRE PVT LTD
VEERA RAVEENDRA
PAVANKUMAR REDDY KUNDURU
P TEJAVARDHAN REDDY
RAVINDRANATHA REDDY BANDI
AVEES TRADING AND FINANCE PVT LTD
RAJAPUSHPA ASSET MANAGEMENT LLP
KOYA AND COMPANY CONSTRUCTION LTD
HONOUR LAB LTD
HETERO LABS LIMITED
HETERO DRUGS LIMITED
BORAVELLI RAMULAMMA
BORAVELLI BHUPAL REDDY
VARSITY EDUCATION MANAGEMENT PVT LIMITED
SRICHAITANYA STUDENTS FACILITY MANAGEMENT PVT LTD
EVEY TRANS PVT LTD
PPR M SAND LLP
AXIS CLINICALS LIMITED
R.S.BROTHERS RETIAL INDIA PVT LTD
SEI ENERSTAR RENEWABLE ENRGY PVT LTD
AASHMAN ENERGY PVT LTD
PRATYASH RENEWABLE PRIVATE LIMITED
SEI MIHIR ENERGY PVT LTD
SHREYAS RENEWABLE ENERGY PVT LTD
ZUVAN ENERGY PVT LTD
SEI BASKARA POWER PVT LTD
SAROJA RENEWABLES PRIVATE LIMITED
GREENKO SOLAR POWER (DHARAMAVARAM) LTD
GREENKO SRI SAI KRISHNA HYDRO ENERGIES PVT LTD
GREENKO SUMEZ HYDRO ENERGIES PVT LTD
GREENKO HIM KAILASH HYDRO POWER PVT LTD
GANGDARI HYDRO POWER PVT LTD
GREENKO ASTHA PROJECTS (INDIA) PVT LTD
ANANTPURA WIND ENERGIES PVT LTD
RAYALA SEEMA WIND ENERGY PVT LTD
14 REELS PLUS LLP
ELITE DEVELOPERS
IRA BLOSSOM FIELDS
RT RENEWABLE ENERGY PVT LTD
GREENKO BUDHIL HYDRO POWER PVT LTD
SANOLA WIND PROJECT PVT LTD
SUNBORNE ENERGY ANDHRA PVT LTD
SEI VENUS PVT LTD
GREENKO RAYALA WIND POWER PVT LTD
TANOT WIND POWER VENTURES PVT LTD
PIRAMAL ENTERPRISES LIMITED
WELSPUN CORP LIMITED
INDUS INDUSTRIAL TEC
LOKESH KUMAR
SRI YANTRA ASSOCIATES
INDUS ORGANICS
KONERU RAVITEJA
MKJ ENTERPRISES LIMITED
SRABANI ROY
AUTHUM INVESTMENT AND INFRASTRUCTURE LTD
CHOWGULE AND COMPANY PVT LTD
DIVYESH POWER PVT LTD
ELENA RENEWABLE ENERGY PVT LTD
ACHINTYA SOLAR POWER PVT LTD
SEI DIAMOND PVT LTD
RIPLEY AND CO. STEVEDORING & HANDLING PVT LTD
NATCO PHARMA LIMITED
DR REDDYS LABORATORIES LIMITED
JINDAL STAINLESS LTD
TRANSWAYS EXIM PVT LTD
PCBL LIMITED
HINDYS LAB PRIVATE LTD
HAZELO LAB PRIVATE LTD
DASAMI LAB PRIVATE LTD
ROSHNI DEALMARK PRIVATE LIMITED
PROCURE ADVISORY SERVICES PRIVATE L
INORBIT MALLS INDIA PRIVATE LIMIT
TRIDENTCHEMPHARLIMITED
WESTWELL GASES PRIVATE LIMITED
GREENKO ENERGY PROJECTS PRIVATE LTD
MR. DEEPAK KHEMKA
AQ SQUARE REALTORS PRIVATE LIMITED
DIVIT SECURITY
GREAT EASTERN STORES PVT LTD
DANIKA TRADERS PRIVATE LTD
SELMAR LAB PRIVATE LTD
NUVOCO VISTAS CORPORATION LTD
SURESH PATNI
SUSHILA PATNI
ASHOK PATNI
VINEET PATNI
VIVEK PATNI
KANWAR LAL PATNI
VIKAS PATNI
RISHABH PATNI
NSL SEZ(HYDERABAD) PRIVATE LIMITED
GRINIBHRIT SOLAR POWER PVT LTD
ACHINTYA SOLAR POWER PRIVATE LIMITED
PREMIER PHOTOVOLTAIC MEDAK (P)LTD
VISHVARUPA SOLAR POWER PRIVATE LIMITED
PENNAR RENEWABLES PVT LTD( NEW ERA
SUVARCHAS SOLAR POWER PRIVATE LIMITED
PRABHAKARA RAO MANDAVA
SWAMI FUELS PRIVATE LIMITED
HERO MOTOCORP LIMITED
MOHIT MINERALS LIMITED
NAVAYUGA ENGINEERING CO LTD
BENGAL VIPANAPAN PRIVATE LIMITED
JINDAL STEEL AND POWER LIMITED
FERTILELAND FOODS PRIVATE LIMITED
GANDHI BROTHERS
THE RAMCO CEMENTS LIMITED
ASIAN TRADING CORPORATION LIMITED
S K TRADERS
S K TRADING CO.
MR ANUJ GOENKA
MR. BAL KISHAN GOENKA
MRS. SUSHILA GOENKA
MS. SHIPRA GOENKA
S K SUPPLY CHAIN SOLUTIONS
VINAY KUMAR BHATT
SAN BEVERAGES PVT LTD
SAN LOGISTICS
AAYTEE LOGISTICS PRIVATE LIMITED
ASHISH AGARWAL
SANTOSH GOYAL
ASHOK KUMAR
PRATIBHA AGARWAL
ANAND SAKHARAM PIMPARKAR
NIRMA LIMITED
J K CEMENT LTD.
BESSEGGENINFOTECHLLP
SUNKURU SURESH SUBUDHI JT
GPC FOODS PRIVATE LIMITED
ABHISHEK KAUSHIK
ARCEDGES BUILDING INDIA LLP
ARUNANGSHU MUKHERJEE
ARROW PROJECTS PVT LTD
AJANTA PHARMA LTD
MICRO LABS LTD
ZYDUS HEALTHCARE LIMITED
INTAS PHARMACEUTICALS LIMITED
GANDHAR COALS AND MINES PVT LTD
GENUS POWER INFRASTRUCTURES LIMITED
AVON CYCLES LTD
FORTUNE METALIKS LIMITED
MICHIGAN ENGINEERS PVT LTD
MNMEDIAVENTURESPVTL108
ARIZONAGLOBALSERVICESPVTLTDBR
SRI SIDDHARTH INFRATECH AND SERVICES I P
MAATHA PROJECTS LLP
SOMASILA SOLAR POWER LIMITED
MARUTI SUZUKI INDIA LTD
IPCA LABORATORIES LIMITED
THE ANUP ENGINEERING
ARVINDINFRACONLLP
ARVINDBEAUTYBRANDSRETAILPVTLTD
ARVIND LIMITED
GLENMARK PHARMACEUTICALS LTD
DLF GARDEN CITY INDORE PVT LTD
ARAVALI TECHNICAL SERVICES PVT LTD
MANKIND PHARMA LIMITED

In [90]:
df_1["Purchaser Name"] = df_1["Purchaser Name"].str.replace(r"\s+"," ")

C:\Users\ksrch\AppData\Local\Temp\ipykernel_15684\3522799724.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_1["Purchaser Name"] = df_1["Purchaser Name"].str.replace(r"\s+"," ")

#### Dropping UniqID and Name of the Political Party columns

In [92]:
df_1.drop(columns="UniqID",axis=1,inplace=True)

In [93]:
df_1.drop(columns="Name of the Political Party",axis=1,inplace=True)

#### Rearranging the Columns of the dataframe

In [94]:
df_1.columns

Index(['Reference No_(URN)', 'Journal Date', 'Date of Purchase',
       'Date of Expiry', 'Purchaser Name', 'Prefix', 'Bond Number',
       'Purchase Amount', 'Issue Branch Code', 'Status', 'Date of Encashment',
       'Amount', 'Pay Branch Code', 'Purchaser Type', 'Issue_Branch_State',
       'Issue_Branch_City', 'Pay_Branch_State', 'Pay_Branch_City',
       'Party Name'],
      dtype='object')

In [95]:
df_1 = df_1[['Reference No_(URN)', 'Journal Date', 'Date of Purchase',
       'Date of Expiry', 'Date of Encashment','Prefix','Bond Number','Purchaser Name','Purchase Amount','Purchaser Type', 
        'Issue Branch Code','Issue_Branch_State','Issue_Branch_City','Status','Party Name','Amount',
       'Pay Branch Code', 'Pay_Branch_State', 'Pay_Branch_City']]

#### Renaming Column names

In [96]:
df_1.rename(columns={"Pay Branch Code":"Encash Branch Code","Pay_Branch_State":"Encash_Branch_State","Pay_Branch_City":"Encash_Branch_City"},inplace=True)

#### Converting Datetype columns to Datetime

In [97]:
df_1["Journal Date"] = pd.to_datetime(df["Journal Date"],format= "%d/%b/%Y")

In [98]:
df_1["Date of Purchase"] = pd.to_datetime(df["Date of Purchase"],format= "%d/%b/%Y")

In [99]:
df_1["Date of Expiry"] = pd.to_datetime(df["Date of Expiry"],format= "%d/%b/%Y")

In [100]:
df_1["Date of Encashment"] = pd.to_datetime(df["Date of Encashment"],format= "%d/%b/%Y")

In [101]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20551 entries, 0 to 20550
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference No_(URN)   18871 non-null  object
 1   Journal Date         18871 non-null  datetime64[ns]
 2   Date of Purchase     18871 non-null  datetime64[ns]
 3   Date of Expiry       18871 non-null  datetime64[ns]
 4   Date of Encashment   20421 non-null  datetime64[ns]
 5   Prefix               18871 non-null  object
 6   Bond Number          18871 non-null  object
 7   Purchaser Name       18871 non-null  object
 8   Purchase Amount      18871 non-null  float64
 9   Purchaser Type       18871 non-null  object
 10  Issue Branch Code    18871 non-null  object
 11  Issue_Branch_State   18871 non-null  object
 12  Issue_Branch_City    18871 non-null  object
 13  Status               18871 non-null  object
 14  Party Name           20421 non-null  object
 15  Amount               20421 non-null  float64
 16  Encash Branch Code   20421 non-null  object
 17  Encash_Branch_State  20421 non-null  object
 18  Encash_Branch_City   20421 non-null  object
dtypes: datetime64[ns](4), float64(2), object(13)
memory usage: 3.1+ MB

#### Rearragening the rows of the dataset by Journal Date

In [102]:
df_1 = df_1.sort_values(by="Journal Date",ignore_index=True)

In [103]:
df_1.head(2)

,Reference No_(URN),Journal Date,Date of Purchase,Date of Expiry,Date of Encashment,Prefix,Bond Number,Purchaser Name,Purchase Amount,Purchaser Type,Issue Branch Code,Issue_Branch_State,Issue_Branch_City,Status,Party Name,Amount,Encash Branch Code,Encash_Branch_State,Encash_Branch_City
0,00847201904120000001164,2019-04-12,2019-04-12,2019-04-26,2019-04-16,OC,5485,MEGHA ENGINEERING & INFRASTRUCTURES LIMITED,"10,000,000",Organisation,`00847,Telangana,Hyderabad,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
1,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6258,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi

In [ ]:
#df_1.to_excel("C:/Users/ksrch/OneDrive/Documents/ElecBonds.xlsx", index=False)

In [104]:
df = df_1.copy()

#### Sample of the Cleaned Dataset

In [105]:
df.head()

,Reference No_(URN),Journal Date,Date of Purchase,Date of Expiry,Date of Encashment,Prefix,Bond Number,Purchaser Name,Purchase Amount,Purchaser Type,Issue Branch Code,Issue_Branch_State,Issue_Branch_City,Status,Party Name,Amount,Encash Branch Code,Encash_Branch_State,Encash_Branch_City
0,00847201904120000001164,2019-04-12,2019-04-12,2019-04-26,2019-04-16,OC,5485,MEGHA ENGINEERING & INFRASTRUCTURES LIMITED,"10,000,000",Organisation,`00847,Telangana,Hyderabad,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
1,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6258,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
2,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6268,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
3,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6292,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi
4,00001201904120000001165,2019-04-12,2019-04-12,2019-04-26,2019-04-20,OC,6254,ESSEL MINING AND INDS LTD,"10,000,000",Organisation,`00001,West Bengal,Kolkata,Paid,BJP,"10,000,000",`00691,Delhi,New Delhi

### Data Overview:

**Columns:** Reference No_(URN),Journal Date,Date of Purchase,Date of Expiry,Date of Encashment,Prefix,Bond Number,Purchaser Name,Purchase Amount,Purchaser Type,Issue Branch Code,Issue_Branch_State,Issue_Branch_City,Status,Party Name,Amount,Encash Branch Code,Encash_Branch_State and Encash_Branch_City

**Description:**

**Reference No_(URN):** Reference number used to track the bond that was purchased

**Date of Purchase:** Date on which the bond was purchased

**Date of Expiry:** Date on which the bond would expire

**Date of Encashment:** Date on which the bond was encashed

**Prefix:** unique text to identify each purchase

**Bond Number:** The common key between the two tables 

**Purchaser Name:** The of the organisation or individual who purchased the bonds

**Purchase Amount:** The amount the purchaser purchased to donate

**Purchaser Type:** Whether the purchaser is an Individual or an Organisation

**Issue Branch Code:** Bank branch code from which the bond was issued

**Issue_Branch_State:** The state from which the bond was issued

**Issue_Branch_City:** The city from which the bond was issued

**Status:** Whether the amount for encashed/paid or expired

**Part Name:** The name of the political party which received the donation

**Amount:** The amount encashed by the political party

**Encash_Branch_State:** The state from which the bonds were encashed

**Encash_Branch_City:** The city

**Our dataset is now ready for analysis**

## Exploratory Data Analysis

### Total Amount Donated

In [112]:
df["Amount"].sum()

127690893000.0

### Total Number of Unique Donors

In [113]:
df["Purchaser Name"].nunique()

1310

### Total Number of Donations

In [114]:
df["Purchaser Name"].count()

18871

### Total Number of Parties

In [115]:
df["Party Name"].nunique()

24

### Top 5 Parties by Amount received

In [109]:
df.groupby("Party Name")["Amount"].sum().to_frame().sort_values(by="Amount",ascending=False).head()

                   Amount
Party Name
BJP        60,605,111,000
AITC       16,095,314,000
INC        14,218,655,000
BRS        12,147,099,000
BJD         7,755,000,000

### Top 5 Purchaser of Bonds / Donors

In [111]:
df.groupby("Purchaser Name")["Purchase Amount"].sum().to_frame().sort_values(by="Purchase Amount",ascending=False).head(5)

                                             Purchase Amount
Purchaser Name
FUTURE GAMING AND HOTEL SERVICES              13,680,000,000
MEGHA ENGINEERING & INFRASTRUCTURES LIMITED    9,660,000,000
QWIKSUPPLYCHAINPRIVATELIMITED                  4,100,000,000
VEDANTA LIMITED                                4,024,000,000
HALDIA ENERGY LIMITED                          3,770,000,000

### Total Amount Donated Per Year

In [118]:
df.groupby(df["Date of Purchase"].dt.year)["Purchase Amount"].sum().to_frame().sort_values(by="Purchase Amount",ascending=False)

                  Purchase Amount
Date of Purchase
2,023              42,464,745,000
2,022              37,048,576,000
2,019              17,661,280,000
2,021              15,022,927,000
2,024               5,718,003,000
2,020               3,639,601,000

### Total Amount of bonds purchased by Organisation and Individuals

In [122]:
df.groupby("Purchaser Type")["Purchase Amount"].sum().to_frame().sort_values(by="Purchase Amount",ascending=False)

                Purchase Amount
Purchaser Type
Organisation    117,523,747,000
Individual        4,031,385,000

### Top 5 states from which money was donated / Bonds were issued

In [125]:
df.groupby("Issue_Branch_State")["Purchase Amount"].sum().to_frame().sort_values(by="Purchase Amount",ascending = False).head(5)

                    Purchase Amount
Issue_Branch_State
Telangana            29,189,070,000
Maharashtra          27,202,185,000
West Bengal          24,321,926,000
Delhi                16,830,706,000
Tamil Nadu           13,401,502,000

### Top 5 cities from which money was donated / Bonds were issued

In [127]:
df.groupby("Issue_Branch_City")["Purchase Amount"].sum().to_frame().sort_values(by="Purchase Amount",ascending = False).head(5)

                   Purchase Amount
Issue_Branch_City
Hyderabad           29,189,070,000
Mumbai              27,202,185,000
Kolkata             24,321,926,000
New Delhi           16,830,706,000
Chennai             13,401,502,000

### Highest Funder for each Party

In [130]:
grouped = df.groupby(["Party Name","Purchaser Name"])["Amount"].sum().reset_index()

In [132]:
idx = grouped.groupby("Party Name")["Amount"].idxmax()

In [134]:
grouped.loc[idx,["Party Name","Purchaser Name","Amount"]].sort_values(by="Amount",ascending = False)

     Party Name                                  Purchaser Name        Amount
595         BJP     MEGHA ENGINEERING & INFRASTRUCTURES LIMITED 5,840,000,000
106        AITC                FUTURE GAMING AND HOTEL SERVICES 5,420,000,000
1079        DMK                FUTURE GAMING AND HOTEL SERVICES 5,030,000,000
964         BRS     MEGHA ENGINEERING & INFRASTRUCTURES LIMITED 1,950,000,000
287         BJD                       ESSEL MINING AND INDS LTD 1,745,000,000
1604      YSRCP                FUTURE GAMING AND HOTEL SERVICES 1,540,000,000
1414        INC                                 VEDANTA LIMITED 1,250,000,000
1515   SHIVSENA     B G SHIRKE CONSTRUCTION TECHNOLOGY PVT L TD   850,000,000
1579        TDP                      SHIRDI SAI ELECTRICALS LTD   400,000,000
1485        RJD                     IFB AGRO INDUSTRIES LIMITED   350,000,000
1548        SKM                FUTURE GAMING AND HOTEL SERVICES   110,000,000
1475        NCP                   QWIKSUPPLYCHAINPRIVATELIMITED   100,000,000
1553         SP                 KEVENTER FOODPARK INFRA LIMITED   100,000,000
7           AAP                   AVEES TRADING FINANCE PVT LTD   100,000,000
1464        JSP  WESTERN UP POWER TRANSMISSION COMPANY LI MITED   100,000,000
1450      JD(U)     MEGHA ENGINEERING & INFRASTRUCTURES LIMITED   100,000,000
1445      JD(S)                              NARA CONSTRUCTIONS   100,000,000
1505        SAD                   FASTWAY TRANSMISSIONS PVT LTD    50,000,000
1511        SDF                FUTURE GAMING AND HOTEL SERVICES    50,000,000
1459        JMM                                 VEDANTA LIMITED    50,000,000
1452       JKNC     BHARTI AIRTEL LIMITEDAIRTEL CURRE NT AC-GCO     5,000,000
1466        MGP               V M SALGAOCAR CORPORATION PVT LTD     3,500,000
1090        GFP                                  GOA CARBON LTD     2,000,000